const buttonStyle = {
    justifyContent: 'center',
    alignItems: 'center',
    width:  '200px',
    height: '200px',
    border: "solid 2px " + (this.state.clicked ? "red" : "green"),
   // background: (clicked ? "green" : "red"),
    background: this.state.color,
    borderRadius: "50% 50%",
    zIndex: "1",
}

const textStyle = {
    alignItems: 'right',
    marginTop: '70px',
    float: 'center',
    color: '#fff',
    textAlign: 'center'
}
const textStyleP = {
    color: "#fff",
    alignItems: 'right',
    marginTop: '0px',
    float: 'center',
    textAlign: 'center'
}